/* style.css */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, sans-serif;
  background:black;
  color:white;
  overflow-x:hidden;
}

/* BLOQUEADO */

#bloqueado{
  width:100%;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
  background:url('portada.PNG') center/cover;
}

.overlay{
  position:absolute;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.7);
}

.contenido-bloqueado{
  position:relative;
  z-index:2;
  text-align:center;
  padding:20px;
}

.contenido-bloqueado h1{
  font-size:45px;
  margin-bottom:20px;
}

.mensaje{
  margin-bottom:10px;
  font-size:18px;
}

#contador{
  margin-top:20px;
  font-size:35px;
  font-weight:bold;
}

.sobre{
  font-size:100px;
  margin-top:30px;
  animation:flotar 2s infinite ease-in-out;
}

@keyframes flotar{

  0%{
    transform:translateY(0);
  }

  50%{
    transform:translateY(-10px);
  }

  100%{
    transform:translateY(0);
  }

}

/* CONTENIDO */

#contenido{
  padding:30px;
  min-height:100vh;
  background:
  radial-gradient(circle at top,#3b001f,#000);
}

/* MUSICA */

.musica{
  width:100%;
  margin-bottom:20px;
}

/* TITULO */

.titulo{
  text-align:center;
  font-size:60px;
  margin-bottom:40px;
  color:#ff4fa3;
  text-shadow:0 0 20px #ff4fa3;
}

/* FOTO PRINCIPAL */

.foto-principal{
  display:flex;
  justify-content:center;
  margin-bottom:40px;
}

.foto-principal img{
  width:330px;
  height:430px;
  object-fit:cover;
  border-radius:25px;
  border:4px solid white;
  box-shadow:0 0 35px rgba(255,255,255,0.4);
}

/* CARTA */

.carta{
  max-width:900px;
  margin:auto;
  background:#fff7f2;
  color:#4b1e2f;
  padding:45px;
  border-radius:30px;
  line-height:2;
  font-size:20px;
  box-shadow:0 0 40px rgba(255,255,255,0.2);
}

.carta h2{
  text-align:center;
  margin-bottom:35px;
  color:#d14b7e;
  font-size:40px;
}

.carta p{
  white-space:pre-line;
  text-align:center;
}

/* GALERIA */

.galeria{
  margin-top:70px;
  display:flex;
  flex-wrap:wrap;
  gap:25px;
  justify-content:center;
}

.galeria img{
  width:260px;
  height:260px;
  object-fit:cover;
  border-radius:25px;
  transition:0.4s;
  box-shadow:0 0 25px rgba(255,255,255,0.2);
}

.galeria img:hover{
  transform:scale(1.05);
}

/* MENSAJE FINAL */

.final{
  margin-top:60px;
  text-align:center;
  font-size:35px;
  color:#ff7ab8;
  padding-bottom:60px;
  text-shadow:0 0 20px #ff4fa3;
}
